body {
    font-family: sans-serif;
    align-items: center;
    background-image: url('imagen_museoNY.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    background-color: rgb(50, 50, 50);
}
.container {
    display: flex;
    flex-direction: column;
}
#titulo {
    border-bottom: 1px solid black;
    margin: 20px;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}
#form {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input {
    margin-right: 50px;
    color: white;
}
.input input {
    color: white;
    background-color: gray;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.input input::placeholder {
    color: rgb(50, 50, 50);
    font-size: 18px;
    justify-content: center;
    padding-left: 3px;
}
.input select {
    font-size: 18px;
    color: rgb(41, 41, 41);
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#buscador {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    align-items: center;
    justify-content: space-around;
}
.card {
    margin: 30px;
    border-radius: 10px;
    color: black;
    background-color: hsla(0, 0%, 50%, 0.3);
}
.card:hover {
    background-color: hsla(0, 0%, 70%, 0.3);
}
.card img {
    width: 100%;
    height: auto;
}
#cargando {
    margin-left: 45%;
}
.masImagenes {
    width: 100%;
    height: auto;
}
#buscar {
    margin-right: 10px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 5px;
}
#departamento, #localizacion {
    background-color: rgb(41, 41, 41);
    color: white;
    border-radius: 5px;
}
#footer {
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#paginacion {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    background-color: rgb(50, 50, 50);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#anterior, #numeroPagina, #siguiente {
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: chocolate;
}